{{define "subject"}}Your CVErt Ops verification code{{end}}
{{define "body"}}
Verification Code
=================

Your CVErt Ops verification code is:

{{.Code}}

This code expires in {{.ExpiresIn}}. If you didn't request this code, you can safely ignore this email.
{{end}}
